#bg_login {
  background: #1e2849;
  height: 100vh;
  width: 100%;
}
#bg_login h1 {
  text-align: center;
  margin-top: 8%;
  color: #fff;
}
#bg_login #form_login {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  max-width: 400px;
  height: 300px;
  padding: 60px 50px;
  background: #fff;
  display: block;
  margin: 0 auto;
}
#bg_login #form_login div {
  padding: 10px;
}
#bg_login #form_login div label {
  width: 20%;
  display: block;
  float: left;
}
#bg_login #form_login div input {
  padding: 5px;
  width: 80%;
}
#bg_login #form_login #btn_login {
  background: #1f458b;
  color: #fff;
  border: 0px solid #ccc;
  padding: 8px 20px;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}
#bg_login #form_login #btn_login:hover {
  background: #1a5bd3;
}
#bg_login #form_login #btn_login:active {
  background: #033aa0;
}
#bg_login #bg_link_goback {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}
#bg_login #bg_link_goback a {
  float: right;
  color: #fff;
}

.page_dashboard {
  padding: 40px;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  min-height: 100vh;
  border-radius: 5px;
}
.page_dashboard h1 {
  text-align: center;
  font-size: 22px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
}

#dashboard_content {
  width: 85%;
  float: right;
  padding: 20px;
  padding-top: 80px;
  background: #f0f0f0;
  min-height: 100vh;
}

.dashboard_container {
  background: #ccc;
  min-height: 100vh;
  width: 100%;
}
.dashboard_container #header_dash {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  background: #0a4e89;
  border-bottom: 0px;
}
.dashboard_container #header_dash #bg_logo {
  background: #222;
  height: 60px;
  width: 15%;
  color: #fff;
  float: left;
}
.dashboard_container #header_dash #bg_logo img {
  width: auto;
  height: 25px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.dashboard_container #header_dash #nav_header {
  float: right;
  height: 100%;
  overflow: hidden;
}
.dashboard_container #header_dash #nav_header ul {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
}
.dashboard_container #header_dash #nav_header ul li {
  margin-left: 5px;
  list-style: none;
}
.dashboard_container #header_dash #nav_header ul li a {
  display: block;
  padding: 18px 20px;
  color: #fff;
}
#nav_dashboard {
  padding: 70px 20px 40px 40px;
  position: fixed;
  background: #111;
  min-height: 100vh;
  width: 15%;
  min-width: 200px;
}
#nav_dashboard ul li {
  color: #777;
  list-style: none;
}
#nav_dashboard ul li span {
  margin: 15px 0px 10px 10px;
  display: block;
}
#nav_dashboard ul ul {
  padding: 0px 0;
}
#nav_dashboard ul ul li {
  list-style: none;
  margin-bottom: 0px;
  border-left: 1px solid #fff;
  padding: 0px 10px;
}
#nav_dashboard ul ul li a {
  width: 100%;
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
}
#nav_dashboard ul ul li a:hover {
  background: #333;
}

#bg_create_user {
  background: #1e2849;
  height: 100vh;
  width: 100%;
}
#bg_create_user h1 {
  text-align: center;
  margin-top: 8%;
  color: #fff;
}
#bg_create_user #form_create_user {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  max-width: 400px;
  height: 300px;
  padding: 60px 50px;
  background: #fff;
  display: block;
  margin: 0 auto;
}
#bg_create_user #form_create_user div {
  padding: 10px;
}
#bg_create_user #form_create_user div label {
  width: 20%;
  display: block;
  float: left;
}
#bg_create_user #form_create_user div input {
  padding: 5px;
  width: 80%;
}
#bg_create_user #form_create_user #btn_login {
  background: #1f458b;
  color: #fff;
  border: 0px solid #ccc;
  padding: 8px 20px;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}
#bg_create_user #form_create_user #btn_login:hover {
  background: #1a5bd3;
}
#bg_create_user #form_create_user #btn_login:active {
  background: #033aa0;
}
#bg_create_user #bg_link_goback {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}
#bg_create_user #bg_link_goback a {
  float: right;
  color: #fff;
}

#nav_gerador_carne {
  width: 100%;
  background: #064a77;
  overflow: hidden;
  padding: 10px 40px;
  padding-bottom: 0px;
  height: 50px;
}
#nav_gerador_carne h1 {
  width: 52%;
  float: right;
  text-align: left;
  padding-bottom: 0px;
  color: #fff;
  font-size: 16px;
  padding: 0px !important;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5px;
}
#nav_gerador_carne ul {
  width: 20%;
  float: left;
  display: block;
}
#nav_gerador_carne ul li {
  list-style: none;
}
#nav_gerador_carne ul li a {
  padding: 20px;
  color: #fff !important;
}

#bg_gerador_boleto {
  background: #222;
  width: 100%;
  min-height: 100vh;
}

.container_gerador_boleto {
  width: 1170px;
  min-height: 100vh;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  outline: 20px solid #fff;
}

#load_img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  position: fixed;
  border-radius: 0px;
}
#load_img img {
  width: 80px;
  margin-top: 18%;
  opacity: 1;
  margin-left: 47%;
}

.boletos {
  display: none;
  padding: 20px 60px;
  background: #fff;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0px 0px;
}
.boletos div {
  padding: 15px 15px;
  float: left;
  border: 1px solid #ccc;
  width: 14.28%;
  max-height: 90px;
}
.boletos div div {
  padding: 0px;
  width: 50%;
  height: auto;
  border: 0px;
}
.boletos div div label {
  float: left;
  width: 30%;
  background: #ddd;
  padding: 5px 0px 0px 6px;
}
.boletos div div input {
  float: right;
  width: 70%;
}
.boletos label {
  height: 27px;
  padding: 5px 5px;
  display: block;
  width: 100%;
  color: #333;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: -5px;
}
.boletos input {
  margin: 0px 0px;
  width: 100%;
  padding: 3px 0px 3px 5px;
  text-align: center;
}

.boletos:nth-child(even) {
  background: #f0f0f0;
}

.div-responsavel,
.div-aluno,
.div-curso {
  width: 33.3333% !important;
}
.div-responsavel label,
.div-aluno label,
.div-curso label {
  margin-top: 0px;
  width: 85px;
  float: left;
}
.div-responsavel input,
.div-aluno input,
.div-curso input {
  width: 231px !important;
  float: right !important;
  text-align: left;
}

.tag_boletos {
  background: #666 !important;
  width: 100% !important;
  height: 35px !important;
  padding: 10px !important;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  border: 0px !important;
}
.tag_boletos h5 {
  text-align: right;
  color: #fff !important;
  margin: 0 !important;
}

/*----------------Master----------*/
#boleto_master {
  border: 1px solid #ccc;
  display: block;
  margin-top: 0px;
  background: #f0f0f0;
}
#boleto_master #bg_blocks_master {
  border: 1px solid #aaa;
  overflow: hidden;
}
#boleto_master div {
  border-color: #aaa;
  width: 13.85%;
}
#boleto_master div label {
  color: #fff;
  background: transparent;
  color: #333;
}
#boleto_master .div-n-lanc {
  width: 20% !important;
}
#boleto_master .div-n-lanc div {
  width: 50%;
}
#boleto_master .div-n-lanc div label {
  width: 20%;
  float: left;
}
#boleto_master .div-n-lanc div input {
  width: 70%;
}
#boleto_master .div-n-parcela {
  width: 9.6% !important;
}
#boleto_master .div-vencimento {
  width: 15% !important;
}
#boleto_master select {
  width: 200px;
  padding: 4px 5px;
}
#boleto_master select option:first-child {
  display: none;
}

.bg_buttons {
  background: #222;
  display: none;
  overflow: hidden;
  padding: 10px 30px;
  position: absolute;
  width: 1170px;
  margin: 0px 0px 0px 0px;
}
.bg_buttons #btn_download_pdf {
  display: block;
  clear: both;
  background: #223892;
  border: 0px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 20px;
  float: right;
}

#btn_download_pdf:hover {
  background: #034ab6;
}

#bg_btn_gerar_boleto {
  width: 100% !important;
  padding: 20px;
  overflow: hidden;
}

#btn_gerar_boleto {
  display: block;
  background: #999;
  border: 0px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  float: right;
  width: 150px;
}

#btn_gerar_boleto:hover {
  background: #1fa06e;
}

.nav_cadastros {
  padding: 20px 0px;
  background: #064a77;
  color: #fff;
  overflow: hidden;
  background: #f0f0f0;
  border-radius: 10px;
}
.nav_cadastros li {
  list-style: none;
}
.nav_cadastros li a {
  color: #333;
  text-decoration: none;
  padding: 20px;
}
.nav_cadastros li a:hover {
  background: #ddd;
}

.cadastro_sucesso {
  display: none;
  width: 100%;
  text-align: center;
  color: #0e881e;
}

.form_add {
  background: #fff;
  width: 100%;
  max-width: 650px;
  margin: 20px auto;
  display: block;
  padding: 40px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}
.form_add div div {
  margin-bottom: 10px;
  padding: 2px;
  overflow: hidden;
}
.form_add div div label {
  float: left;
  display: block;
  background: #eee;
  color: #444;
  width: 90px;
  padding: 6px 15px;
}
.form_add div div input {
  width: 84%;
  float: right;
  padding: 5px 10px;
}
.form_add h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}
.form_add .btn_cadastrar {
  width: 200px;
  background: #064a77;
  color: #fff;
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  float: right;
  cursor: pointer;
  margin-top: 20px;
}
.form_add .btn_cadastrar:hover {
  background: #07598f;
}
.form_add .add_nome {
  float: left;
  width: 70%;
}
.form_add .add_nome input {
  width: 77%;
}
.form_add .add_celular {
  min-height: 20px;
  overflow: hidden;
  margin-bottom: 0px;
}
.form_add .add_celular .bg_block_cel {
  background: #fff;
  border: 1px solid #999;
  width: 68%;
  float: left;
  padding: 0px;
  overflow: hidden;
  min-height: 37px;
}
.form_add .add_celular .bg_block_cel .div {
  border-top: 1px solid #ccc;
}
.form_add .add_celular .bg_block_cel .block_cel {
  float: left;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  padding-bottom: 0px;
  overflow: hidden;
}
.form_add .add_celular .bg_block_cel .block_cel div:first-child {
  padding: 0px;
  margin: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}
.form_add .add_celular .bg_block_cel .block_cel div:first-child span {
  display: block;
  float: left;
  padding: 8px 10px;
  font-size: 12px;
  background: #f6f6f6;
  color: #666;
}
.form_add .add_celular .bg_block_cel .block_cel input {
  width: 40%;
  float: left;
  border: 0px;
}
.form_add .add_celular .bg_block_cel .block_cel .ddd_input {
  width: 45px;
  padding: 5px 0px 5px 15px;
  float: left;
  text-align: center;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel {
  float: right !important;
  overflow: hidden;
  width: 30%;
  height: 36px;
  margin: 0px !important;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel label {
  border-radius: 5px;
  text-align: center;
  float: right;
  width: 28px;
  height: 32px;
  padding: 3px;
  font-size: 12px;
  overflow: hidden;
  margin-left: 5px;
  margin-top: -2px;
  user-select: none;
  cursor: pointer;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel .img_on_whatsapp {
  background: url("../img/whatsapp-on.png") no-repeat;
  background-size: 25px;
  background-position: 0 6px;
  opacity: 1;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel .img_off_whatsapp {
  background: url("../img/whatsapp-off.png") no-repeat;
  opacity: 0.7;
  background-size: 25px;
  background-position: 0 6px;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel .img_on_messenger {
  background: url("../img/messenger-on.png") no-repeat;
  background-size: 25px;
  background-position: 0 6px;
  opacity: 1;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel .img_off_messenger {
  background: url("../img/messenger-off.png") no-repeat;
  background-size: 25px;
  background-position: 0 6px;
  opacity: 0.7;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel input {
  display: block;
  float: left;
  padding: 50px;
  background: #f90;
}
.form_add .add_telefone {
  margin: 0px;
}
.form_add .add_telefone .bg_block_tel {
  width: 68%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #999;
  min-height: 37px;
  overflow: hidden;
  margin: 0px;
  float: left;
  padding: 0px;
}
.form_add .add_telefone .bg_block_tel .div {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
}
.form_add .add_telefone .bg_block_tel .block_tel {
  float: left;
  width: 50%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.form_add .add_telefone .bg_block_tel .block_tel input {
  width: 70%;
  border: 0px;
}
.form_add .add_telefone .bg_block_tel .block_tel span {
  display: block;
  padding: 9px 10px;
  font-size: 12px;
  background: #f6f6f6;
  float: left;
  color: #666;
}
.form_add .bg_btn_inputs {
  width: 15%;
  float: right;
  height: 38px;
  overflow: hidden;
  background: #f0f0f0;
  padding: 6px 0px;
}
.form_add .bg_btn_inputs .btn_add_input,
.form_add .bg_btn_inputs .btn_del_input {
  background: #064a77;
  color: #fff;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 15px;
  text-align: center;
}
.form_add .bg_btn_inputs .btn_add_input:hover {
  background: #07598f;
}
.form_add .bg_btn_inputs .btn_del_input {
  background: #ccc;
}
.form_add .bg_btn_inputs .btn_del_input:hover {
  background: red;
}
.form_add .add_genero {
  float: right;
  width: 30%;
}
.form_add .add_genero select {
  width: 76px;
  padding: 5px;
}
.form_add .add_genero select option:first-child {
  display: none;
}
.form_add .add_rg,
.form_add .add_cpf,
.form_add .add_data_nasc,
.form_add .add_created {
  width: 50%;
  float: left;
}
.form_add .add_rg label,
.form_add .add_cpf label,
.form_add .add_data_nasc label,
.form_add .add_created label {
  min-width: auto;
  display: block;
}
.form_add .add_rg input,
.form_add .add_cpf input,
.form_add .add_data_nasc input,
.form_add .add_created input {
  width: 67.8%;
}
.form_add .add_endereco {
  width: 100%;
}

#bg_responsavel_aluno {
  width: 100%;
  height: auto;
  background: #064a77;
  padding: 0px;
}
#bg_responsavel_aluno div {
  width: 100%;
  margin-bottom: 0px;
}
#bg_responsavel_aluno div select {
  padding: 5px !important;
}
#bg_responsavel_aluno label {
  width: 120px;
}
#bg_responsavel_aluno .btn_vincular_off {
  float: right;
  background: #f3f3f3;
  color: #333;
  border-radius: 3px;
  border: 0px;
  font-size: 14px;
  margin: 5px;
  padding: 3px 10px;
}
#bg_responsavel_aluno .btn_vincular_on {
  float: right;
  background: #e63a51;
  color: #fff;
  border-radius: 3px;
  border: 0px;
  font-size: 14px;
  margin: 5px;
  padding: 3px 10px;
}

.block_fields {
  display: none;
  background: #fff;
  padding: 40px;
  width: 570px;
  min-height: 360px;
  position: absolute;
  opacity: 0.4;
}

.block_btn_vincular {
  float: right;
  width: 150px !important;
  height: 36px;
  margin-left: -150px;
  z-index: 10 !important;
  background: #064a77;
  opacity: 0.3;
  position: relative;
}

.form_curso .add_curso {
  width: 60%;
  float: left;
}
.form_curso .add_curso input {
  width: 73% !important;
}
.form_curso .add_valor {
  float: left;
  width: 50%;
}
.form_curso .add_valor input {
  width: 67% !important;
}
.form_curso .add_created {
  float: right;
}
.form_curso .add_duracao {
  width: 40%;
  float: right;
}
.form_curso .add_duracao label {
  width: 65% !important;
}
.form_curso .add_duracao input {
  width: 75px !important;
}
.form_curso .add_curso {
  width: 60%;
  float: left;
}
.form_curso .add_curso input {
  width: 73% !important;
}
.form_curso .add_valor {
  float: left;
  width: 50%;
}
.form_curso .add_valor input {
  width: 67% !important;
}
.form_curso .add_created {
  float: right;
}

.form_contrato .add_responsavel,
.form_contrato .add_aluno {
  width: 100%;
}
.form_contrato .add_responsavel label,
.form_contrato .add_aluno label {
  width: 18%;
}
.form_contrato .add_responsavel select,
.form_contrato .add_aluno select {
  width: 82%;
  padding: 5px;
}
.form_contrato .add_responsavel select option:first-child,
.form_contrato .add_aluno select option:first-child {
  display: none;
}
.form_contrato .add_curso {
  width: 100%;
  float: left;
}
.form_contrato .add_curso label {
  width: 18%;
}
.form_contrato .add_curso select {
  min-width: 82%;
  padding: 5px;
}
.form_contrato .add_curso select option:first-child {
  display: none;
}
.form_contrato .add_hora_aula,
.form_contrato .add_duracao,
.form_contrato .add_parcelas {
  float: left !important;
  width: 33.333333% !important;
}
.form_contrato .add_hora_aula label,
.form_contrato .add_duracao label,
.form_contrato .add_parcelas label {
  width: 55% !important;
  float: left;
  font-size: 14px;
  padding: 8px 15px;
}
.form_contrato .add_hora_aula input,
.form_contrato .add_duracao input,
.form_contrato .add_parcelas input {
  float: left;
  width: 45%;
}
.form_contrato .add_valor,
.form_contrato .add_desconto,
.form_contrato .add_valor_total {
  overflow: hidden;
  width: 33.333333333%;
  background: #eee;
  float: left;
}
.form_contrato .add_valor label,
.form_contrato .add_desconto label,
.form_contrato .add_valor_total label {
  width: 55%;
  font-size: 14px;
  background: transparent !important;
  color: #444;
  float: left;
  padding-right: 0px;
}
.form_contrato .add_valor input,
.form_contrato .add_desconto input,
.form_contrato .add_valor_total input {
  width: 45% !important;
  float: left;
}
.form_contrato .add_valor label {
  background: #556655;
}
.form_contrato .add_desconto input {
  color: #ce1212;
}
.form_contrato .add_valor_total input {
  color: #36a32c;
  font-weight: bold;
}
.form_contrato .add_obs {
  width: 100%;
}
.form_contrato .add_obs label {
  width: 18%;
}
.form_contrato .add_obs input {
  width: 82%;
}
.form_contrato .add_data_contrato {
  float: left !important;
  width: 50% !important;
}
.form_contrato .add_data_contrato label {
  width: 130px;
  float: left;
  margin-left: 0px;
}
.form_contrato .add_data_contrato input {
  width: 150px;
  float: right;
}
.form_contrato .add_created {
  width: 45%;
  float: right;
}
.form_contrato .add_created label {
  width: 40%;
}
.form_contrato .add_created input {
  width: 60%;
}
.form_contrato .div_add {
  margin-bottom: 15px;
}

.table_general {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
}
.table_general thead {
  background: #064a77;
}
.table_general thead th {
  color: #fff;
}
.table_general tbody tr td {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
}
.table_general tbody tr td input {
  width: 100%;
  border: 0px solid #fff;
  padding: 0px 10px;
}

.form_carne {
  background: #fff;
  width: 100%;
  max-width: 1170px;
}
.form_carne .bg_carne_divs {
  background: #eee;
  width: 100%;
  overflow: hidden;
  float: right;
}
.form_carne .add_contrato {
  opacity: 1 !important;
  width: 50%;
  max-width: 600px;
  float: left;
}
.form_carne .add_contrato label {
  width: 18%;
  background: #064a77;
  color: #fff;
}
.form_carne .add_contrato select {
  width: 82%;
  padding: 5px;
}
.form_carne .add_contrato select option:first-child {
  display: none;
}
.form_carne .add_obs {
  opacity: 1 !important;
  float: right;
  width: 50%;
  max-width: 600px;
}
.form_carne .add_obs label {
  width: 18%;
  background: #064a77;
  color: #fff;
}
.form_carne .add_obs input {
  width: 82%;
}
.form_carne .add_responsavel,
.form_carne .add_aluno {
  width: 33%;
  float: left;
}
.form_carne .add_responsavel label,
.form_carne .add_aluno label {
  width: 18%;
}
.form_carne .add_responsavel input,
.form_carne .add_aluno input {
  width: 82%;
  padding: 5px;
}
.form_carne .add_responsavel input option:first-child,
.form_carne .add_aluno input option:first-child {
  display: none;
}
.form_carne .add_curso {
  width: 33%;
  float: left;
}
.form_carne .add_curso label {
  width: 28%;
}
.form_carne .add_curso input {
  width: 72%;
  padding: 5px;
  float: left;
}
.form_carne .add_curso input option:first-child {
  display: none;
}
.form_carne .add_parcelas input {
  float: left;
  width: 45%;
}
.form_carne .add_valor,
.form_carne .add_desconto,
.form_carne .add_valor_total,
.form_carne .add_data_contrato,
.form_carne .add_created,
.form_carne .add_parcelas,
.form_carne .add_RA {
  overflow: hidden;
  width: 14.2%;
  background: #eee;
  opacity: 1;
  float: left;
  padding: 10px;
}
.form_carne .add_valor label,
.form_carne .add_desconto label,
.form_carne .add_valor_total label,
.form_carne .add_data_contrato label,
.form_carne .add_created label,
.form_carne .add_parcelas label,
.form_carne .add_RA label {
  width: 100%;
  font-size: 14px;
  color: #444;
  display: block;
  float: none;
  padding: 0px;
}
.form_carne .add_valor input,
.form_carne .add_desconto input,
.form_carne .add_valor_total input,
.form_carne .add_data_contrato input,
.form_carne .add_created input,
.form_carne .add_parcelas input,
.form_carne .add_RA input {
  width: 100% !important;
  float: left;
}
.form_carne .div_add {
  margin-bottom: 5px;
  opacity: 0.7;
}

.bg_folhas_carne {
  width: 100%;
  max-width: 1170px;
  padding: 40px;
  margin: 0 auto;
  min-height: 500px;
  background: #fff !important;
  overflow: hidden;
  border: 1px solid #ccc;
}
.bg_folhas_carne .folhas {
  border: 1px solid #ccc;
  background: #fff;
  min-height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}
.bg_folhas_carne .folhas h3 {
  width: 100%;
  text-align: right;
  background: #555;
  color: #fff;
  padding: 5px 20px;
  margin-top: 0px;
  font-size: 16px;
}
.bg_folhas_carne .insert_folhas:nth-child(odd) .folhas {
  background: #eee;
}
.bg_folhas_carne .insert_folhas:nth-child(even) .folhas {
  background: #f9f9f9;
}
.bg_folhas_carne .row_1,
.bg_folhas_carne .row_2 {
  width: 100%;
  clear: both;
}
.bg_folhas_carne .row_1 .folha_div,
.bg_folhas_carne .row_2 .folha_div {
  border: 1px solid #ccc;
  padding: 15px 10px;
  float: left;
}
.bg_folhas_carne .row_1 label,
.bg_folhas_carne .row_2 label {
  font-size: 15px;
  display: block;
  overflow: hidden;
  float: left;
  text-align: center;
  width: 20%;
}
.bg_folhas_carne .row_1 input,
.bg_folhas_carne .row_2 input {
  width: 80%;
  padding: 5px;
}
.bg_folhas_carne .row_1 .folha_div {
  width: 33.333%;
  float: left;
}
.bg_folhas_carne .row_2 .folha_div {
  width: 14.285%;
  float: left;
}
.bg_folhas_carne .row_2 label {
  width: 100%;
  clear: both !important;
  float: none;
  padding: 0px 0px 10px 0px;
}
.bg_folhas_carne .row_2 input {
  width: 100%;
}
.bg_folhas_carne button {
  width: 200px;
  padding: 20px 40px;
  float: right;
  background: #064a77;
  color: #fff;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
}
.bg_folhas_carne button:hover {
  background: #07598f;
}
.bg_folhas_carne .folha_campo_editavel {
  background: #e0ece8 !important;
}
.bg_folhas_carne .folha_campo_bloquead * {
  opacity: 0.7;
}
.bg_folhas_carne .folha_campo_bloquead * input {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=style.css.map */
