body {
  background: #333 !important;
}

.loginForm {
  display: block;
  max-width: 500px;
  width: 100%;
  padding: 60px;
  margin: 0px auto;
  margin-top: 100px;
  border-radius: 5px;
}
.loginForm h2 {
  color: #fff;
}
.loginForm input {
  border-radius: 3px;
  width: 100%;
  margin: 5px 0px;
  border: 2px solid #2b9de9;
  padding: 10px;
  background: #fff;
}
.loginForm button {
  width: 100%;
  border-radius: 3px;
  margin: 5px 0px;
  border: 0px solid #0f77bd;
  background: #0e5696;
  color: #fff;
  padding: 10px;
}
.loginForm button:hover {
  cursor: pointer;
  background: #016bc7;
}

.icon {
  width: 22px;
  height: 22px;
  margin-bottom: -2px;
}

.page_dashboard {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  min-height: 100vh;
  border-radius: 5px;
  padding-top: 40px;
}
.page_dashboard h1 {
  text-align: center;
  font-size: 24px;
  padding: 0px;
  color: #064a77;
  font-weight: bold;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

#dashboard_content {
  width: 85%;
  float: right;
  padding-top: 60px;
  background: #f0f0f0;
  min-height: 100vh;
}

.dashboard_container {
  background: #ccc;
  min-height: 100vh;
  width: 100%;
}
.dashboard_container #header_dash {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  background: #174b79;
  border-bottom: 0px;
  padding: 0px 30px 0px 0px;
}
.dashboard_container #header_dash #bg_logo {
  height: 60px;
  width: 15%;
  color: #fff;
  float: left;
}
.dashboard_container #header_dash #bg_logo img {
  width: auto;
  height: 25px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
.dashboard_container #header_dash #nav_header {
  float: right;
  height: 100%;
  overflow: hidden;
}
.dashboard_container #header_dash #nav_header ul {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
}
.dashboard_container #header_dash #nav_header ul li {
  margin-left: 5px;
  list-style: none;
}
.dashboard_container #header_dash #nav_header ul li a {
  display: block;
  padding: 18px 20px;
  color: #fff;
}
.dashboard_container #header_dash #nav_header ul li .username {
  padding: 0px 10px;
  font-weight: bold;
}
.dashboard_container #header_dash #nav_header ul li button {
  cursor: pointer;
  margin-top: 15px;
}

#nav_dashboard {
  padding: 70px 20px 40px 40px;
  position: fixed;
  background: #212529;
  min-height: 100vh;
  width: 15%;
  min-width: 200px;
}
#nav_dashboard .icon {
  fill: #ffffff50 !important;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}
#nav_dashboard ul li {
  color: #555;
  list-style: none;
}
#nav_dashboard ul li span {
  margin: 15px 0px 10px 30px;
  display: block;
}
#nav_dashboard ul ul {
  padding: 0px 0;
}
#nav_dashboard ul ul li {
  list-style: none;
  margin-bottom: 0px;
  padding: 0px 10px;
}
#nav_dashboard ul ul li a {
  width: 100%;
  padding: 10px 20px;
  display: block;
  color: #ccc;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
}
#nav_dashboard ul ul li a:hover {
  background: #2f4755;
}

#bg_create_user {
  background: #1e2849;
  height: 100vh;
  width: 100%;
}
#bg_create_user h1 {
  text-align: center;
  margin-top: 8%;
  color: #fff;
}
#bg_create_user #form_create_user {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  max-width: 400px;
  height: 300px;
  padding: 60px 50px;
  background: #fff;
  display: block;
  margin: 0 auto;
}
#bg_create_user #form_create_user div {
  padding: 10px;
}
#bg_create_user #form_create_user div label {
  width: 20%;
  display: block;
  float: left;
}
#bg_create_user #form_create_user div input {
  padding: 5px;
  width: 80%;
}
#bg_create_user #form_create_user #btn_login {
  background: #1f458b;
  color: #fff;
  border: 0px solid #ccc;
  padding: 8px 20px;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}
#bg_create_user #form_create_user #btn_login:hover {
  background: #1a5bd3;
}
#bg_create_user #form_create_user #btn_login:active {
  background: #033aa0;
}
#bg_create_user #bg_link_goback {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}
#bg_create_user #bg_link_goback a {
  float: right;
  color: #fff;
}

button:disabled {
  background: #ccc !important;
}

.cadastro_sucesso {
  display: none;
  width: 100%;
  text-align: center;
  color: #0e881e;
}

.form_add {
  background: #fff;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  display: block;
  padding: 40px;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
}
.form_add h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
  color: #064a77;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif !important;
  letter-spacing: 0px;
}
.form_add div div {
  margin-bottom: 10px;
  padding: 2px;
  overflow: hidden;
}
.form_add div div label {
  float: left;
  display: block;
  background: #eee;
  color: #444;
  width: 15%;
  padding: 6px 15px;
}
.form_add div div input {
  width: 85%;
  float: right;
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.form_add .btn_cadastrar {
  width: 200px;
  background: #064a77;
  color: #fff;
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  float: right;
  cursor: pointer;
  margin-top: 20px;
}
.form_add .btn_cadastrar:hover {
  background: #07598f;
}
.form_add .add_nome {
  float: left;
  width: 70%;
}
.form_add .add_nome label {
  width: 21.5%;
}
.form_add .add_nome input {
  width: 78.5%;
}
.form_add .add_genero {
  float: right;
  width: 30%;
}
.form_add .add_genero label {
  width: 50%;
}
.form_add .add_genero select {
  width: 50%;
  padding: 5px;
}
.form_add .add_genero select option:first-child {
  display: none;
}
.form_add .add_celular {
  min-height: 20px;
  overflow: hidden;
  margin-bottom: 0px;
}
.form_add .add_celular .bg_block_cel {
  background: #fff;
  border: 1px solid #ccc;
  width: 68%;
  float: left;
  padding: 0px;
  overflow: hidden;
  min-height: 37px;
}
.form_add .add_celular .bg_block_cel .div {
  border-top: 1px solid #ccc;
}
.form_add .add_celular .bg_block_cel .block_cel {
  float: left;
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  padding-bottom: 0px;
  overflow: hidden;
}
.form_add .add_celular .bg_block_cel .block_cel div:first-child {
  padding: 0px;
  margin: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}
.form_add .add_celular .bg_block_cel .block_cel div:first-child span {
  display: block;
  float: left;
  padding: 8px 10px;
  font-size: 12px;
  background: #f6f6f6;
  color: #666;
}
.form_add .add_celular .bg_block_cel .block_cel input {
  width: 40%;
  float: left;
  border: 0px;
}
.form_add .add_celular .bg_block_cel .block_cel .ddd_input {
  width: 45px;
  padding: 5px 0px 5px 15px;
  float: left;
  text-align: center;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel {
  float: right !important;
  overflow: hidden;
  width: 30%;
  height: 36px;
  margin: 0px !important;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel label {
  border-radius: 5px;
  text-align: center;
  float: right;
  width: 28px;
  height: 32px;
  padding: 3px;
  font-size: 12px;
  overflow: hidden;
  margin-left: 5px;
  margin-top: -2px;
  user-select: none;
  cursor: pointer;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel .img_on_whatsapp {
  background: url("../img/whatsapp-on.png") no-repeat;
  background-size: 25px;
  background-position: 0 6px;
  opacity: 1;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel .img_off_whatsapp {
  background: url("../img/whatsapp-off.png") no-repeat;
  opacity: 0.7;
  background-size: 25px;
  background-position: 0 6px;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel .img_on_messenger {
  background: url("../img/messenger-on.png") no-repeat;
  background-size: 25px;
  background-position: 0 6px;
  opacity: 1;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel .img_off_messenger {
  background: url("../img/messenger-off.png") no-repeat;
  background-size: 25px;
  background-position: 0 6px;
  opacity: 0.7;
}
.form_add .add_celular .bg_block_cel .block_cel .bg_checkbox_cel input {
  display: block;
  float: left;
  padding: 50px;
  background: #f90;
}
.form_add .add_telefone {
  margin: 0px;
}
.form_add .add_telefone .bg_block_tel {
  width: 68%;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ccc;
  min-height: 37px;
  overflow: hidden;
  margin: 0px;
  float: left;
  padding: 0px;
}
.form_add .add_telefone .bg_block_tel .div {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
}
.form_add .add_telefone .bg_block_tel .block_tel {
  float: left;
  width: 50%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}
.form_add .add_telefone .bg_block_tel .block_tel input {
  width: 70%;
  border: 0px;
}
.form_add .add_telefone .bg_block_tel .block_tel span {
  display: block;
  padding: 9px 10px;
  font-size: 12px;
  background: #f6f6f6;
  float: left;
  color: #666;
}
.form_add .bg_btn_inputs {
  width: 15%;
  float: right;
  height: 38px;
  overflow: hidden;
  background: #f0f0f0;
  padding: 6px 0px;
}
.form_add .bg_btn_inputs .btn_add_input,
.form_add .bg_btn_inputs .btn_del_input {
  background: #064a77;
  color: #fff;
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 15px;
  text-align: center;
}
.form_add .bg_btn_inputs .btn_add_input:hover {
  background: #07598f;
}
.form_add .bg_btn_inputs .btn_del_input {
  background: #ccc;
}
.form_add .bg_btn_inputs .btn_del_input:hover {
  background: red;
}
.form_add .add_rg,
.form_add .add_cpf,
.form_add .add_data_nasc,
.form_add .add_created {
  width: 50%;
  float: left;
}
.form_add .add_rg label,
.form_add .add_cpf label,
.form_add .add_data_nasc label,
.form_add .add_created label {
  min-width: 30%;
  display: block;
}
.form_add .add_rg input,
.form_add .add_cpf input,
.form_add .add_data_nasc input,
.form_add .add_created input {
  width: 70%;
}
.form_add .add_endereco {
  width: 100%;
}

#form_add_aluno .add_parentesco {
  width: 70%;
  float: left;
  margin-bottom: 0px;
}
#form_add_aluno .add_parentesco label {
  width: 21.5%;
  font-size: 15px;
  letter-spacing: 0px;
}
#form_add_aluno .add_parentesco select {
  width: 78.5%;
  padding: 5px !important;
}
#form_add_aluno .add_parentesco select option:first-child {
  display: none;
}
#form_add_aluno .add_nome {
  width: 100%;
}
#form_add_aluno .add_nome label {
  width: 15%;
}
#form_add_aluno .add_nome input {
  width: 85% !important;
}
#form_add_aluno .add_genero {
  float: right;
}

#bg_responsavel_aluno {
  width: 100%;
  height: auto;
  background: #064a77;
  padding: 0px;
}
#bg_responsavel_aluno div {
  width: 100%;
  margin-bottom: 0px;
}
#bg_responsavel_aluno div select {
  max-width: 340px;
  overflow: hidden;
  padding: 5px !important;
}
#bg_responsavel_aluno div select option:first-child {
  display: none;
}
#bg_responsavel_aluno .vinculado_aluno {
  color: #272727;
}
#bg_responsavel_aluno .nao_vinculado_aluno {
  color: #0004f5;
}
#bg_responsavel_aluno #btn_vincular {
  background: #fff;
}
#bg_responsavel_aluno #btn_vincular:hover {
  background: #ff475f !important;
  color: #fff;
}
#bg_responsavel_aluno .btn_vincular_off {
  float: right;
  color: #333;
  border-radius: 3px;
  border: 0px;
  font-size: 14px;
  margin: 5px;
  padding: 3px 10px;
}
#bg_responsavel_aluno .btn_vincular_on {
  float: right;
  background: #e63a51 !important;
  color: #fff;
  border-radius: 3px;
  border: 0px;
  font-size: 14px;
  margin: 5px;
  padding: 3px 10px;
}

.block_fields {
  display: none;
  background: #fff;
  padding: 40px;
  width: 570px;
  min-height: 360px;
  position: absolute;
  opacity: 0.4;
}

.block_btn_vincular {
  float: right;
  width: 150px !important;
  height: 36px;
  margin-left: -150px;
  z-index: 10 !important;
  background: #064a77;
  opacity: 0.3;
  position: relative;
}

.form_curso .add_curso {
  width: 60%;
  float: left;
}
.form_curso .add_curso label {
  width: 25%;
}
.form_curso .add_curso input {
  width: 75%;
}
.form_curso .add_valor {
  float: left;
  width: 50%;
}
.form_curso .add_valor label {
  width: 30% !important;
}
.form_curso .add_valor input {
  width: 70% !important;
}
.form_curso .add_created {
  float: right;
}
.form_curso .add_duracao {
  width: 40%;
  float: right;
}
.form_curso .add_duracao label {
  width: 65% !important;
}
.form_curso .add_duracao input {
  width: 35% !important;
}
.form_curso .add_created {
  float: right;
}

.btn_disabled {
  background: #bbb !important;
}

.form_contrato .selectAluno {
  background: #eee;
  border: 0px solid #ccc;
  padding: 3px;
}
.form_contrato .selectAluno option {
  display: none;
}
.form_contrato .add_responsavel,
.form_contrato .add_aluno {
  width: 100%;
}
.form_contrato .add_responsavel label,
.form_contrato .add_aluno label {
  width: 18%;
}
.form_contrato .add_responsavel select,
.form_contrato .add_aluno select {
  width: 82%;
  padding: 5px;
}
.form_contrato .add_responsavel select option:first-child,
.form_contrato .add_aluno select option:first-child {
  display: none;
}
.form_contrato .add_curso {
  width: 100%;
  float: left;
}
.form_contrato .add_curso label {
  width: 18%;
}
.form_contrato .add_curso select {
  min-width: 82%;
  padding: 5px;
}
.form_contrato .add_curso select option:first-child {
  display: none;
}
.form_contrato .add_hora_aula,
.form_contrato .add_duracao,
.form_contrato .add_parcelas {
  float: left !important;
  width: 33.333333% !important;
}
.form_contrato .add_hora_aula label,
.form_contrato .add_duracao label,
.form_contrato .add_parcelas label {
  width: 55% !important;
  float: left;
  font-size: 14px;
  padding: 8px 15px;
}
.form_contrato .add_hora_aula input,
.form_contrato .add_duracao input,
.form_contrato .add_parcelas input {
  float: left;
  width: 45%;
}
.form_contrato .add_valor,
.form_contrato .add_desconto,
.form_contrato .add_valor_total {
  overflow: hidden;
  width: 33.333333333%;
  background: #eee;
  float: left;
}
.form_contrato .add_valor label,
.form_contrato .add_desconto label,
.form_contrato .add_valor_total label {
  width: 55%;
  background: transparent !important;
  color: #444;
  float: left;
  padding-right: 0px;
}
.form_contrato .add_valor input,
.form_contrato .add_desconto input,
.form_contrato .add_valor_total input {
  width: 45% !important;
  float: left;
}
.form_contrato .add_valor label {
  background: #556655;
}
.form_contrato .add_desconto input {
  color: #ce1212;
}
.form_contrato .add_valor_total input {
  color: #36a32c;
  font-weight: bold;
}
.form_contrato .add_obs {
  width: 100%;
}
.form_contrato .add_obs label {
  width: 18%;
}
.form_contrato .add_obs input {
  width: 82%;
}
.form_contrato .add_data_contrato {
  float: left !important;
  width: 50% !important;
}
.form_contrato .add_data_contrato label {
  width: 42%;
  float: left;
  margin-left: 0px;
}
.form_contrato .add_data_contrato input {
  width: 58%;
  float: right;
}
.form_contrato .add_vencimento {
  width: 45%;
  float: right;
}
.form_contrato .add_vencimento label {
  width: 40%;
}
.form_contrato .add_vencimento input {
  width: 60%;
}
.form_contrato .add_created {
  width: 45%;
  float: right;
}
.form_contrato .add_created label {
  width: 40%;
}
.form_contrato .add_created input {
  width: 50%;
}
.form_contrato .data_creado_em {
  background: #f0f0f0;
  opacity: 0.8;
  width: 50%;
}
.form_contrato .data_creado_em label {
  background: transparent;
  width: 40%;
}
.form_contrato .data_creado_em input {
  width: 60%;
  border: 0px;
  background: transparent;
}
.form_contrato .div_add {
  margin-bottom: 15px;
}
.form_contrato .div_add label {
  font-size: 16px;
}

.view_aluno_classe td {
  height: 50px;
}
.view_aluno_classe .status {
  text-align: center;
  width: 130px;
}
.view_aluno_classe .cursando {
  background: #dbffcd;
}
.view_aluno_classe .concluido {
  background: #bfd0e6;
}
.view_aluno_classe .cancelado {
  background: #ffcdcd;
}
.view_aluno_classe .pausado {
  background: #ffe9cd;
}
.view_aluno_classe .td_control {
  max-width: 100px;
}

#nav_aluno_classe {
  width: 100%;
  overflow: hidden;
  clear: both;
  padding: 0px 40px;
}
#nav_aluno_classe .icon {
  fill: #fff;
  width: 20px;
  margin: 0px 10px -6px 0px;
  opacity: 0.5;
}
#nav_aluno_classe ul {
  float: right;
}
#nav_aluno_classe ul li {
  list-style: none;
  display: inline;
}
#nav_aluno_classe ul li a {
  border-radius: 5px;
  text-decoration: none;
  margin-left: 5px;
  display: block;
  float: right;
  background: #064a77;
  color: #fff;
  padding: 20px 20px;
}
#nav_aluno_classe ul li a:hover {
  background: #07598f;
}

#page_status_aluno {
  background: #eee;
}
#page_status_aluno h1 {
  text-align: center;
  color: #212529;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
}

.success_background {
  background: #e0f7e0 !important;
}

.bg_aluno_contrato {
  max-width: 95%;
  margin: 0 auto;
  background: #f8f8f8;
  margin-bottom: 20px;
  box-shadow: 0em 0.05em 0.1em #aaa;
}
.bg_aluno_contrato h3 {
  margin-left: 40px;
  border-left: 1px solid #c00;
  border-bottom: 1px solid #c00;
  padding: 20px 20px 0px 20px;
  margin-bottom: 0px;
  color: #c33;
  text-transform: uppercase;
  font-size: 16px;
  background: #f9f9f9;
}

.form_aluno_status {
  transition: background-color 0.5s ease-in-out;
  overflow: hidden;
  background: #fafafa;
  padding: 20px 0px;
  max-width: 100% !important;
  display: grid;
  grid-template-columns: 85% 15%;
  position: relative;
}
.form_aluno_status .msg_update_sucesso {
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 5px;
  width: auto;
  position: absolute;
  color: #2e7e4c;
  right: 20px;
  top: 80px;
  opacity: 0;
}
.form_aluno_status .msg_update_sucesso {
  transition: opacity 0.3s ease-out;
}
.form_aluno_status:last-child {
  border-bottom: 0px solid #aadbee;
}
.form_aluno_status:nth-child(odd) {
  background: #f4f5f6;
  border-top: 1px solid #ccc;
}
.form_aluno_status:hover {
  background: #fafad190;
  cursor: default;
}
.form_aluno_status .bg_inputs {
  float: left;
  overflow: hidden;
  width: 100%;
}
.form_aluno_status p {
  padding: 0px;
  margin: 0px;
}
.form_aluno_status .red_line {
  border-left: 1px solid #c00;
  display: block;
  padding: 20px;
  position: absolute;
  height: 60px;
  left: 40px;
  top: 0px;
  height: 100%;
}
.form_aluno_status .line_1,
.form_aluno_status .line_2 {
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #ace;
  padding: 15px 0px 0px 60px;
}
.form_aluno_status .line_1 .div_add,
.form_aluno_status .line_2 .div_add {
  float: left;
  padding: 0px 0px;
}
.form_aluno_status .line_1 .div_add:hover input,
.form_aluno_status .line_2 .div_add:hover input {
  border: 1px solid #ccc !important;
  border-top: 0px solid #00a !important;
  border-bottom: 0px solid #00a !important;
}
.form_aluno_status .line_1 p,
.form_aluno_status .line_2 p {
  color: #00a;
  width: auto;
  float: left;
  padding: 5px 10px;
}
.form_aluno_status .line_1 label,
.form_aluno_status .line_2 label {
  color: #999;
  padding: 5px 10px;
  width: auto;
  float: left;
  display: block;
}
.form_aluno_status .line_1 input,
.form_aluno_status .line_2 input {
  background: transparent;
  max-width: 136px;
  width: 55%;
  float: left;
  padding: 5px;
  border: 1px solid transparent;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  border-right: 0px solid #ddd;
}
.form_aluno_status .line_1 .div_add {
  width: 20%;
}
.form_aluno_status .line_2 .div_add input {
  min-width: 150px;
}
.form_aluno_status .line_3 .add_obs {
  width: 100%;
  padding: 0px 0px 0px 70px;
  margin: 0 auto;
}
.form_aluno_status .line_3 .add_obs label {
  width: 15%;
  display: block;
  margin-top: 0px;
  color: #999;
  padding: 20px 0px 10px 0px;
}
.form_aluno_status .line_3 .add_obs textarea {
  border: 0px;
  display: block;
  font-family: "Marck Script", cursive;
  font-size: 16px;
  resize: none;
  padding: 5px 0px;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid transparent;
  color: #666;
  background-color: transparent;
  border-bottom: 2px solid #ace;
}
.form_aluno_status .line_3 .add_obs textarea:hover {
  border: 1px solid #ccc;
  border-bottom: 2px solid #ace;
}
.form_aluno_status .add_curso p {
  color: #00a;
}
.form_aluno_status .add_status {
  border-bottom: 2px solid #ace;
  top: 6px;
  right: 20px;
  position: absolute;
  overflow: hidden;
  padding: 5px 10px;
  width: 180px;
}
.form_aluno_status .add_status label {
  float: left;
  width: 50px;
  padding: 5px;
}
.form_aluno_status .add_status select {
  float: right;
  border: 0px solid #ccc;
  padding: 2px;
}
.form_aluno_status .add_status select option {
  padding: 5px;
}
.form_aluno_status .cursando,
.form_aluno_status .option_cursando {
  background: #cff7cf !important;
}
.form_aluno_status .concluido,
.form_aluno_status .option_concluido {
  background: #b7d1df !important;
}
.form_aluno_status .pausado,
.form_aluno_status .option_pausado {
  background: #e0e3eb !important;
}
.form_aluno_status .cancelado,
.form_aluno_status .option_cancelado {
  background: #f87575 !important;
}
.form_aluno_status .bg_button {
  float: right;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  position: relative;
}
.form_aluno_status .bg_button input {
  text-align: center !important;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 2px;
}
.form_aluno_status .bg_button button {
  position: absolute;
  bottom: 5px;
  right: 20px;
  display: block;
  width: auto;
  background: #064a77;
  color: #fff;
  border: 0px;
  padding: 10px 36px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0em 0.1em 0.06em #aaa;
}
.form_aluno_status .bg_button button:not(:disabled):hover {
  background: #0868a8 !important;
  cursor: pointer;
}
.form_aluno_status .bg_button button:not(:disabled):active {
  background: #042c46 !important;
}

#page_aluno_classe {
  width: 100%;
  height: auto;
  padding: 25px;
  overflow: hidden;
}
#page_aluno_classe h1 {
  text-align: center;
}
#page_aluno_classe #wrap_classe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
#page_aluno_classe #wrap_classe .blocks {
  background: #fff;
  padding: 20px;
}

.nav_cadastros {
  overflow: hidden;
  color: #fff;
  margin-top: 20px;
  margin-bottom: -30px;
  margin-right: 40px;
  width: 100%;
  float: right;
}
.nav_cadastros .icon {
  margin: 0px 10px -5px 0px;
  fill: #fff;
  opacity: 0.5;
  width: 20px;
}
.nav_cadastros li {
  float: right;
  list-style: none;
}
.nav_cadastros li a {
  border-radius: 3px;
  background: #064a77;
  color: #fff;
  text-decoration: none;
  padding: 15px 15px;
  width: auto;
  display: block;
  text-align: center;
  margin-left: 10px;
}
.nav_cadastros li a:hover {
  background: #0868a8;
}
.nav_cadastros li a:active {
  background: #042c46;
}

.img_whatsapp_celular {
  background: url("../img/whatsapp-on.png") no-repeat;
  background-size: 20px;
  background-position: 0 6px;
  padding: 5px 10px;
  margin-left: 3px;
  opacity: 0.8;
}

.img_messenger_celular {
  background: url("../img/messenger-on.png") no-repeat;
  background-size: 20px;
  background-position: 0 6px;
  padding: 5px 10px;
  margin-left: 3px;
}

.table_general {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 99%;
  margin: 0 auto;
}
.table_general .vinculado_sim {
  background: #e5e5ee !important;
}
.table_general thead {
  background: #064a77;
}
.table_general thead th {
  color: #fff;
  padding: 5px;
  border: 1px solid #043164;
}
.table_general tbody tr:nth-child(odd) {
  background: #f8f8f8;
}
.table_general tbody tr:hover {
  background: #fffff6 !important;
  cursor: default;
}
.table_general tbody tr:hover td input {
  box-shadow: 0em 0em 0.1em #ccc;
  cursor: default;
}
.table_general tbody tr td {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #ccc;
}
.table_general tbody tr td input {
  width: 100%;
  border: 0px solid #fff;
  padding: 0px 10px;
}
.table_general .nao_vinculado_carne_view {
  background: #ffefef !important;
}
.table_general .td_vinculado {
  width: 50px;
  text-align: center;
}
.table_general .id_carne_contrato_view {
  color: #333;
  text-align: center;
  width: 100px;
}
.table_general .td_obs {
  text-align: center;
  max-width: 200px;
  overflow: hidden;
}
.table_general .td_cpf {
  text-align: center;
  width: 150px;
}
.table_general .td_cadastrado {
  text-align: center;
}
.table_general .td_control {
  width: 220px;
  text-align: center;
}
.table_general .td_control a {
  padding: 8px 10px 0px 10px;
  border-radius: 5px;
  box-shadow: 0em 0.05em 0em #333;
  text-decoration: none;
  font-size: 12px;
  margin: 5px 5px;
  height: 30px;
  display: block;
  float: left;
}
.table_general .td_control .btn_resumo {
  background: #eee;
  color: #333;
}
.table_general .td_control .btn_resumo:hover {
  background: white;
}
.table_general .td_control .btn_edit {
  background: #2b6ab1;
  color: #fff;
}
.table_general .td_control .btn_edit:hover {
  background: #015aff;
}
.table_general .td_control .btn_delete {
  margin-left: 10px;
  padding: 8px 15px 0px 15px;
  background: #f05282;
  color: #fff;
}
.table_general .td_control .btn_delete:hover {
  background: #ff2c60;
}
.table_general .td_parcelas {
  width: 100px;
  text-align: center;
}
.table_general .td_id {
  width: 50px;
  text-align: center;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.bg_resumo_view {
  background: #eee;
  padding-bottom: 100px;
}
.bg_resumo_view h1 {
  text-align: center;
  color: #444;
}
.bg_resumo_view h2 {
  background: #333;
  height: 70px;
  display: block;
  padding: 20px 20px;
  margin: 0px;
  margin-bottom: -20px;
  color: #fff;
  font-size: 18px;
}
.bg_resumo_view .label {
  color: #777;
  padding: 0px 10px;
}
.bg_resumo_view p {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.bg_resumo_view .resumo_block {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0em 0.05em 0.1em #666;
  overflow: hidden;
}
.bg_resumo_view .resumo_block .info_table {
  margin-top: 20px;
  background: #fff;
  width: auto !important;
}
.bg_resumo_view .resumo_block .info_table p {
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.bg_resumo_view .resumo_block .info_table p:nth-child(odd) {
  background: #f6f6f6;
}
.bg_resumo_view .resumo_block .line_nome .id_aluno,
.bg_resumo_view .resumo_block .line_nome .id_resp {
  width: 15%;
  float: right;
  padding: 10px 20px;
  text-align: right;
  color: #666;
  background: #f0f0f0;
}
.bg_resumo_view .resumo_block .line_nome .nome {
  float: left;
  width: 75%;
  min-width: 300px;
}
.bg_resumo_view .resumo_block .line_nome .genero {
  float: right;
  width: 10%;
  min-width: 100px;
}
.bg_resumo_view .resumo_block .line_endereco .endereco {
  float: left;
  width: 65%;
  min-width: 300px;
}
.bg_resumo_view .resumo_block .line_endereco .bairro {
  float: right;
  width: 35%;
  min-width: 200px;
}
.bg_resumo_view .resumo_block .line_3 .rg {
  float: right;
  width: 50%;
  min-width: 250px;
}
.bg_resumo_view .resumo_block .line_3 .cpf {
  float: left;
  width: 50%;
  min-width: 250px;
}
.bg_resumo_view .resumo_block .line_4 .email {
  float: left;
  width: 100%;
  min-width: 250px;
}
.bg_resumo_view .resumo_block .line_telefones #p_cel {
  float: left;
  width: 100%;
  min-width: 250px;
}
.bg_resumo_view .resumo_block .line_telefones #p_cel .span_cel_block {
  margin-right: 20px;
}
.bg_resumo_view .resumo_block .line_telefones #p_tel {
  float: left;
  width: 100%;
  min-width: 250px;
}
.bg_resumo_view .resumo_block .line_telefones #p_tel .span_tel_block {
  margin-right: 20px;
}
.bg_resumo_view .resumo_block .line_5 .data_nasc {
  float: left;
  width: 50%;
  min-width: 250px;
}
.bg_resumo_view .resumo_block .line_5 .cadastrado {
  float: left;
  width: 50%;
  min-width: 250px;
}
.bg_resumo_view .lines {
  overflow: hidden;
  width: 100%;
  clear: both;
}
.bg_resumo_view .lines p {
  float: left;
}
.bg_resumo_view .bg_info_table_resp {
  background: #212529e0 !important;
}
.bg_resumo_view .bg_info_table_resp h2 {
  margin-top: -20px;
  margin-bottom: 0px;
  background: #212529e0 !important;
}
.bg_resumo_view .bg_info_table_alunos {
  background: #d45d18e0 !important;
  overflow: hidden;
  padding: 0px 0px;
}
.bg_resumo_view .bg_info_table_alunos .nome {
  background: rgba(212, 93, 24, 0.2) !important;
}
.bg_resumo_view .bg_info_table_alunos h2 {
  background: #d45d18e0 !important;
}
.bg_resumo_view .bg_info_table_contratos {
  background: #04465ae0 !important;
}
.bg_resumo_view .bg_info_table_contratos .contrato_table {
  margin-top: 20px !important;
  overflow: hidden;
}
.bg_resumo_view .bg_info_table_contratos h2 {
  background: #04465ae0 !important;
}
.bg_resumo_view .bg_info_table_contratos p {
  float: left;
}
.bg_resumo_view .bg_info_table_contratos .id_contrato {
  width: 12%;
  float: right;
}
.bg_resumo_view .bg_info_table_contratos .nome {
  width: 88%;
  background: rgba(4, 70, 90, 0.2) !important;
}
.bg_resumo_view .bg_info_table_contratos .aluno {
  width: 50%;
}
.bg_resumo_view .bg_info_table_contratos .curso {
  width: 30%;
}
.bg_resumo_view .bg_info_table_contratos .horas_aula {
  width: 20%;
}
.bg_resumo_view .bg_info_table_contratos .parcelas,
.bg_resumo_view .bg_info_table_contratos .duracao,
.bg_resumo_view .bg_info_table_contratos .desconto,
.bg_resumo_view .bg_info_table_contratos .valor,
.bg_resumo_view .bg_info_table_contratos .valor_total {
  width: 20%;
}
.bg_resumo_view .bg_info_table_contratos .data_contrato,
.bg_resumo_view .bg_info_table_contratos .vencimento,
.bg_resumo_view .bg_info_table_contratos .cadastrado {
  width: 33.3333333333%;
}

.bg_info_table_carnes {
  overflow: hidden;
  background: #05916ee0 !important;
}
.bg_info_table_carnes h2 {
  background: #05916ee0 !important;
}
.bg_info_table_carnes table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.bg_info_table_carnes table td,
.bg_info_table_carnes table th {
  padding: 20px 5px;
  max-width: 200px;
  overflow: hidden;
}
.bg_info_table_carnes table th {
  background: #fff;
  border: 1px solid #ccc;
  margin: 0px;
  color: #666;
}
.bg_info_table_carnes table td {
  margin: 0px;
  text-align: center;
  border: 1px solid #ccc;
}
.bg_info_table_carnes table td a {
  text-decoration: none;
  padding: 5px;
  background: #444;
  color: #fff;
  border-radius: 5px;
  display: block;
  float: left;
  margin: 0px 0.5%;
  width: 49%;
}
.bg_info_table_carnes table td a:hover {
  background: #064a77;
}

#load_img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: none;
  z-index: 10;
  position: fixed;
  border-radius: 0px;
  margin: -20px;
}
#load_img img {
  width: 80px;
  margin-top: 18%;
  opacity: 1;
  margin-left: 37%;
}

.bg_folhas_carne_add {
  display: none;
}

.bg_btn_download_pdf,
.bg_btn_edit_download_pdf {
  display: none;
  width: auto;
  margin-top: -65px;
}
.bg_btn_download_pdf button,
.bg_btn_edit_download_pdf button {
  background: #1aca78;
  color: #fff;
  padding: 20px 40px;
  float: right;
  border: 0px;
  border-radius: 5px;
  box-shadow: 0em 0.1em 0.1em #333;
  cursor: pointer;
}
.bg_btn_download_pdf button:hover,
.bg_btn_edit_download_pdf button:hover {
  background: #06d691;
  color: #fff;
}
.bg_btn_download_pdf button:active,
.bg_btn_edit_download_pdf button:active {
  background: #066e4c;
  color: #fff;
}

.bg_btn_edit_download_pdf {
  overflow: hidden;
  padding: 5px;
  display: block;
  margin-top: -30px;
  clear: both !important;
  float: none !important;
  width: 100% !important;
}
.bg_btn_edit_download_pdf button {
  display: block;
  float: right;
  margin: 0 auto;
}

.form_carne {
  background: #fff;
  width: 100%;
  max-width: 1170px;
}
.form_carne .cadastro_sucesso {
  margin-left: -40px;
}
.form_carne .bg_carne_divs {
  background: #eee;
  width: 100%;
  overflow: hidden;
  float: right;
}
.form_carne .add_contrato {
  opacity: 1 !important;
  width: 50%;
  max-width: 600px;
  float: left;
}
.form_carne .add_contrato label {
  width: 18%;
  background: #064a77;
  color: #fff;
}
.form_carne .add_contrato input,
.form_carne .add_contrato select {
  width: 82%;
  padding: 5px;
}
.form_carne .add_contrato input option:first-child,
.form_carne .add_contrato select option:first-child {
  display: none;
}
.form_carne .add_contrato .vinculado_carne {
  background: #f0f0f0;
  color: #999 !important;
}
.form_carne .edit_contrato {
  opacity: 0.7 !important;
}
.form_carne .edit_contrato label {
  background: #eaeaea;
  color: #333;
}
.form_carne .add_obs {
  opacity: 1 !important;
  float: right;
  width: 50%;
  max-width: 600px;
}
.form_carne .add_obs label {
  width: 18%;
  background: #064a77;
  color: #fff;
}
.form_carne .add_obs input {
  width: 82%;
}
.form_carne .add_responsavel,
.form_carne .add_aluno {
  width: 33%;
  float: left;
}
.form_carne .add_responsavel label,
.form_carne .add_aluno label {
  width: 18%;
}
.form_carne .add_responsavel input,
.form_carne .add_aluno input {
  width: 82%;
  padding: 5px;
}
.form_carne .add_responsavel input option:first-child,
.form_carne .add_aluno input option:first-child {
  display: none;
}
.form_carne .add_curso {
  width: 33%;
  float: left;
}
.form_carne .add_curso label {
  width: 28%;
}
.form_carne .add_curso input {
  width: 72%;
  padding: 5px;
  float: left;
}
.form_carne .add_curso input option:first-child {
  display: none;
}
.form_carne .add_parcelas input {
  float: left;
  width: 45%;
}
.form_carne .add_valor,
.form_carne .add_desconto,
.form_carne .add_valor_total,
.form_carne .add_data_contrato,
.form_carne .add_created,
.form_carne .add_vencimento,
.form_carne .add_parcelas,
.form_carne .add_RA {
  overflow: hidden;
  width: 14.2%;
  background: #eee;
  opacity: 1;
  float: left;
  padding: 10px;
}
.form_carne .add_valor label,
.form_carne .add_desconto label,
.form_carne .add_valor_total label,
.form_carne .add_data_contrato label,
.form_carne .add_created label,
.form_carne .add_vencimento label,
.form_carne .add_parcelas label,
.form_carne .add_RA label {
  width: 100%;
  font-size: 14px;
  color: #444;
  display: block;
  float: none;
  padding: 0px;
}
.form_carne .add_valor input,
.form_carne .add_desconto input,
.form_carne .add_valor_total input,
.form_carne .add_data_contrato input,
.form_carne .add_created input,
.form_carne .add_vencimento input,
.form_carne .add_parcelas input,
.form_carne .add_RA input {
  width: 100% !important;
  float: left;
}
.form_carne .div_add {
  margin-bottom: 5px;
  opacity: 0.7;
}

.bg_folhas_carne {
  width: 100%;
  max-width: 1170px;
  padding: 40px;
  margin: 0 auto;
  min-height: 500px;
  background: #fff !important;
  overflow: hidden;
  border: 1px solid #ccc;
}
.bg_folhas_carne .folhas {
  border: 1px solid #ccc;
  background: #fff;
  min-height: 100px;
  overflow: hidden;
  margin-bottom: 20px;
}
.bg_folhas_carne .folhas h3 {
  width: 100%;
  text-align: right;
  background: #555;
  color: #fff;
  padding: 5px 20px;
  margin-top: 0px;
  font-size: 16px;
}
.bg_folhas_carne .insert_folhas:nth-child(odd) .folhas {
  background: #eee;
}
.bg_folhas_carne .insert_folhas:nth-child(even) .folhas {
  background: #f9f9f9;
}
.bg_folhas_carne .row_1,
.bg_folhas_carne .row_2 {
  width: 100%;
  clear: both;
}
.bg_folhas_carne .row_1 .folha_div,
.bg_folhas_carne .row_2 .folha_div {
  border: 1px solid #ccc;
  padding: 15px 10px;
  float: left;
}
.bg_folhas_carne .row_1 label,
.bg_folhas_carne .row_2 label {
  font-size: 15px;
  display: block;
  overflow: hidden;
  float: left;
  text-align: center;
  width: 20%;
}
.bg_folhas_carne .row_1 input,
.bg_folhas_carne .row_2 input {
  width: 80%;
  padding: 5px;
}
.bg_folhas_carne .row_1 .folha_div {
  width: 33.333%;
  float: left;
}
.bg_folhas_carne .row_2 .folha_div {
  width: 14.285%;
  float: left;
}
.bg_folhas_carne .row_2 label {
  width: 100%;
  clear: both !important;
  float: none;
  padding: 0px 0px 10px 0px;
}
.bg_folhas_carne .row_2 input {
  width: 100%;
}
.bg_folhas_carne button {
  width: 200px;
  padding: 20px 40px;
  float: right;
  background: #064a77;
  color: #fff;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
}
.bg_folhas_carne button:hover {
  background: #07598f;
}
.bg_folhas_carne .folha_campo_editavel {
  background: #e0ece8 !important;
}
.bg_folhas_carne .folha_campo_bloquead * {
  opacity: 0.7;
}
.bg_folhas_carne .folha_campo_bloquead * input {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#bg_main {
  position: relative;
  min-height: 100vh;
  height: auto;
  padding: 0px 0px 50px 0px;
}
#bg_main #wrap {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav nav" "b1 b2 b3 b4" "b5 b5 b6 b6";
  grid-auto-rows: auto auto 400px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 0px 80px;
}
#bg_main .bg_charts_main {
  background: #fff;
  height: auto;
  padding: 20px;
  overflow: hidden;
}
#bg_main #chart-1 {
  grid-area: b5;
}
#bg_main #chart-2 {
  grid-area: b6;
}
#bg_main #nav_utilitarios {
  background: #fff;
  grid-area: nav;
  overflow: hidden;
  height: auto;
  margin-top: 0px;
}
#bg_main #nav_utilitarios .block {
  width: auto;
  height: auto;
  float: right;
}
#bg_main #nav_utilitarios #block_cursos {
  background: #064a77;
}
#bg_main #nav_utilitarios #block_cursos:hover {
  background: #07598f;
}
#bg_main #nav_utilitarios a {
  border-right: 5px solid #f0f0f0;
  text-decoration: none;
  color: #fff;
  padding: 20px 40px;
  display: block;
  font-size: 18px;
  font-weight: bold;
}
#bg_main #nav_utilitarios a:hover {
  color: #ff0;
}
#bg_main #nav_utilitarios a:hover .icon {
  fill: #fff;
  opacity: 1;
}
#bg_main #nav_utilitarios a .icon {
  fill: #fff;
  float: left;
  opacity: 0.2;
  width: 25px;
  height: 25px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px !important;
}
#bg_main h3 {
  margin: 0px;
  overflow: hidden;
}
#bg_main h3 .icon {
  fill: #666;
  float: left;
  opacity: 1;
  width: 18px;
  height: 18px;
  margin-left: -30px;
  margin-right: 10px;
  margin-top: 5px !important;
}
#bg_main h3 a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 20px 40px;
  background: #f8f8f8;
  color: #444;
}
#bg_main h3 a .result {
  color: #eb1e44;
}
#bg_main h3 a:hover {
  background: #f0f0f0;
}
#bg_main .blocks {
  margin-top: 0px;
  border-radius: 0px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #ccc;
  float: left;
  padding: 0px;
}
#bg_main .blocks .last_results {
  max-width: 80%;
}
#bg_main .blocks .last_results a {
  text-decoration: none;
  border-radius: 3px;
  padding: 20px 40px;
  color: #ffb !important;
  display: block;
  overflow: hidden;
  color: #9b8c8c;
}
#bg_main .blocks .last_results a:hover {
  background: #f0f0f0;
}
#bg_main .blocks .last_results a:hover .nome {
  color: #333;
  text-decoration: underline;
}
#bg_main .blocks .last_results .nome {
  color: #333;
  padding-top: 10px;
  clear: both;
  width: 100%;
  display: block;
}
#bg_main .blocks .last_results .label {
  float: left;
  color: #999;
}
#bg_main .blocks .last_results .created {
  color: #999;
  float: right;
}
#bg_main .blocks .b_content {
  padding: 0px 0px !important;
}

#block_resp {
  grid-area: b1;
  background: #212529e0;
}
#block_alunos {
  grid-area: b2;
  background: #d45d18e0;
}
#block_contratos {
  grid-area: b3;
  background: #04465ae0;
}
#block_carnes {
  grid-area: b4;
}
#block_outros h3 {
  padding: 20px;
}

#bg_main::after {
  content: "";
  background: url("https://cdn.pixabay.com/photo/2019/07/19/12/00/network-4348652_960_720.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
