#bg_login {
  background: #1e2849;
  height: 100vh;
  width: 100%;
}
#bg_login h1 {
  text-align: center;
  margin-top: 8%;
  color: #fff;
}
#bg_login #form_login {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  max-width: 400px;
  height: 300px;
  padding: 60px 50px;
  background: #fff;
  display: block;
  margin: 0 auto;
}
#bg_login #form_login div {
  padding: 10px;
}
#bg_login #form_login div label {
  width: 20%;
  display: block;
  float: left;
}
#bg_login #form_login div input {
  padding: 5px;
  width: 80%;
}
#bg_login #form_login #btn_login {
  background: #1f458b;
  color: #fff;
  border: 0px solid #ccc;
  padding: 8px 20px;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}
#bg_login #form_login #btn_login:hover {
  background: #1a5bd3;
}
#bg_login #form_login #btn_login:active {
  background: #033aa0;
}
#bg_login #bg_link_goback {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}
#bg_login #bg_link_goback a {
  float: right;
  color: #fff;
}

.dashboard_container {
  background: #ccc;
  min-height: 140vh;
  width: 100%;
}
.dashboard_container #header_dash {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  background: #0a4e89;
  border-bottom: 0px;
}
.dashboard_container #header_dash #bg_logo {
  background: #222;
  height: 60px;
  width: 15%;
  color: #fff;
  float: left;
}
.dashboard_container #header_dash #bg_logo img {
  width: auto;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.dashboard_container #header_dash #nav_header {
  float: right;
  height: 100%;
  overflow: hidden;
}
.dashboard_container #header_dash #nav_header ul {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
}
.dashboard_container #header_dash #nav_header ul li {
  margin-left: 5px;
  list-style: none;
}
.dashboard_container #header_dash #nav_header ul li a {
  display: block;
  padding: 18px 20px;
  color: #fff;
}
.dashboard_container #nav_dashboard {
  position: fixed;
  background: #111;
  min-height: 100vh;
  width: 15%;
  min-width: 200px;
}

#dashboard_content {
  width: 85%;
  float: right;
  padding: 20px;
  padding-top: 80px;
}
#dashboard_content #bg_blocks {
  margin: 0 auto;
  width: 100%;
  float: right;
  min-height: 700px;
  background: #fff;
}

#bg_create_user {
  background: #1e2849;
  height: 100vh;
  width: 100%;
}
#bg_create_user h1 {
  text-align: center;
  margin-top: 8%;
  color: #fff;
}
#bg_create_user #form_create_user {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
  max-width: 400px;
  height: 300px;
  padding: 60px 50px;
  background: #fff;
  display: block;
  margin: 0 auto;
}
#bg_create_user #form_create_user div {
  padding: 10px;
}
#bg_create_user #form_create_user div label {
  width: 20%;
  display: block;
  float: left;
}
#bg_create_user #form_create_user div input {
  padding: 5px;
  width: 80%;
}
#bg_create_user #form_create_user #btn_login {
  background: #1f458b;
  color: #fff;
  border: 0px solid #ccc;
  padding: 8px 20px;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
}
#bg_create_user #form_create_user #btn_login:hover {
  background: #1a5bd3;
}
#bg_create_user #form_create_user #btn_login:active {
  background: #033aa0;
}
#bg_create_user #bg_link_goback {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
}
#bg_create_user #bg_link_goback a {
  float: right;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
