body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
span {
  font-family: "Titillium Web", sans-serif;
  margin: 0px;
  padding: 0px;
}

.container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 120px;
}

#main_content {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#content_homepage {
  margin-top: 300px;
  background: #fff;
  z-index: 10;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 1360px) {
  #content_homepage {
    margin-top: 200px;
  }
  #video_slide {
    margin-top: 40px;
  }
  #info_slide {
    margin-top: 100px !important;
    a {
      width: 30% !important;
      left: 35% !important;
    }
  }
}
@media (max-width: 900px) {
  #content_homepage {
    margin-top: 100px;
  }
  #info_slide {
    h1 {
      font-size: 22px;
    }
    margin-top: 100px;
    a {
      width: 42% !important;
      left: 29% !important;
    }
  }
}
@media (max-width: 700px) {
  #content_homepage {
    margin-top: 60px;
  }
}
@media (max-width: 560px) {
  #slide_home {
    display: none;
  }
  #content_homepage {
    margin-top: 0px;
  }
  #info_slide {
    margin-top: 50px;
  }
}
.pages {
  width: $content-width;
  background: #fff;
  margin: 0 auto;
  padding: 20px 40px;
  height: 540px;
}
