#bg_excel {
  margin-top: 0px;
  background: #207043 url("../img/excel/img_excel.png") no-repeat;
  background-position: bottom right;
  background-size: auto 88%;
  min-height: 250px;
  overflow: hidden;
  margin-bottom: 0px;

  h1 {
    padding: 20px;
    text-align: center;
    color: #fff;
    background: #148a47;
    width: 100%;
  }
  #excel_content {
    max-width: $content-width;
    //background: rgb(26, 134, 75);
    padding: 20px;
    margin: 0 auto;
    display: flex;
    min-height: 100%;
    #bloco_1 {
      overflow: hidden;
      max-width: 80%;
    }
    #resumo_excel {
      margin-top: 40px;
      display: flex;
      max-width: 90%;
      color: #fff;
      justify-content: center;
      align-items: center;
      figure {
        min-width: 100px;
        min-height: 100%;

        img {
          max-width: 100%;
          height: auto;
        }
      }
      p {
        font-size: 18px;
        line-height: 26px;
        padding: 0px 0px 0px 20px;
        background: #207043;
        border-radius: 5px;
        padding: 20px;
      }
    }
    #modulos_excel {
      margin-top: 20px;
      background: #f8f8f8;
      padding: 20px 40px;
      border-radius: 5px;
      max-width: 90%;
      margin-bottom: 50px;

      li {
        font-size: 18px;
        color: #555;
      }
    }
    figure {
      max-width: 200px;
      img {
        height: 100%;
      }
    }
  }
}
