#bg_informatica {
  overflow: hidden;
  background: #f0f0f0;
  height: 750px;
  position: relative;
  width: 100%;
  margin-bottom: 0px;
  h1.title {
    text-align: center;
    padding: 0px 0px 40px 0px;

    color: #fff;
    margin: 0 auto;
    border-bottom: 2px solid #ddd;
    text-transform: uppercase;
  }
  #bg_resumo_informatica {
    background: #334;
    width: 100%;
    .resumo_informatica {
      max-width: 1170px;

      margin: 0 auto;
      padding: 40px 0px;
      color: #fff;
      line-height: 28px;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      span {
        color: #ff9;
      }
      p {
        text-align: justify;
        margin-top: 20px;
      }
    }
  }

  #container_informatica {
    width: 100%;
    height: auto;
  }
}

//---------------------MODULOS-----------------------
.modulos_informatica {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: none;

  p,
  li,
  h1,
  h2,
  h3,
  h4,
  span {
    color: #444;
  }
  .modulo_content {
    overflow: hidden;
    display: flex;
    h1 {
      width: 100%;
      padding: 10px 0px;
    }
    .bloco_1 {
      float: left;
      width: 65%;
      .resumo {
        width: 100%;
        line-height: 22px;
        max-height: 100px;
      }
      .conteudo {
        margin-top: 20px;
        padding: 20px;
        height: 280px;
        overflow-y: scroll;
        background: #f8f8f8;
        border-radius: 5px;
        h3 {
          padding: 0px 0px 10px 0px;
          color: $primary-color;
        }
        div {
          column-count: 3;
          line-height: 30px;
          column-width: 150px;
        }
      }
    }
    .bloco_2 {
      flex: 1 auto;
      width: 35%;
      float: right;
      display: flex;
      align-items: center;

      figure {
        img {
          width: 100%;
        }
      }
    }
  }
}

#modulo-windows {
  display: block;
}
#modulo-office {
  .conteudo {
    div {
      span {
        float: left;
        display: block;
        height: 900px;

        li {
          list-style: none;
          padding-left: 15px;
        }
        li::before {
          content: "\2022";

          color: rgb(52, 67, 150);
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }
      }
      .span_office:nth-child(1) {
        h4,
        li::before {
          color: #24589b;
        }
      }
      .span_office:nth-child(2) {
        h4,
        li::before {
          color: #1c7346;
        }
      }
      .span_office:nth-child(3) {
        h4,
        li::before {
          color: #d34828;
        }
      }
    }
  }
}

//Nav Modulo
#nav_informatica {
  padding: 5px 0px 0px 0px;
  ul {
    display: flex;
    align-items: left;
    margin: 0 auto;
    max-width: 1170px;
    overflow: hidden;

    flex-direction: row;

    li {
      flex: 1 auto;
      text-align: center;

      margin: 0px; /* and that, will result in a 10px gap */
      display: block;
      list-style: none;
      width: auto;
      text-align: center;
      padding: 0px 0px;

      a {
        background: $primary-color;
        color: #fff;
        width: 100%;
        padding: 10px 0px;
        display: block;
        float: left;
        border: 1px solid #f0f0f0;

        &:hover {
          cursor: pointer;
          background: $secondary-color;
          color: #fff;
        }
      }
      .active {
        cursor: pointer;
        background: $secondary-color;
        color: #fff;
      }
    }
  }
}

@media (max-width: 1190px) {
  #bg_resumo_informatica {
    margin-left: -20px;
    padding-right: 20px;
    min-width: calc(100% + 40px);
  }
  #bg_informatica {
    padding: 0px 20px;
  }
  #bg_resumo_informatica {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 990px) {
  .modulo_content {
    position: relative;

    .bloco_1 {
      min-width: 100% !important;
      .resumo {
        width: 70% !important;
      }
    }
    .bloco_2 {
      position: absolute;
      top: 20px;
      right: 0px;
      max-width: 30%;
      padding: 0px;
    }
  }
}

@media (max-width: 960px) {
  #nav_informatica {
    ul {
      display: flex;
      align-items: start;
      justify-content: start;
      /* You can set flex-wrap and
         flex-direction individually */
      flex-direction: row;
      flex-wrap: wrap;
      /* Or do it all in one line
        with flex flow */
      flex-flow: row wrap;
      /* tweak where items line
         up on the row
         valid values are: flex-start,
         flex-end, space-between,
         space-around, stretch */
      align-content: flex-end;
      li {
        width: 150px;
        min-width: 150px;
        max-width: 200px;
        a {
          float: left;
        }
      }
    }
  }
}
@media (max-width: 860px) {
  #bg_informatica {
    height: 900px !important;
  }
}
@media (max-width: 560px) {
  #bg_resumo_informatica {
    h1 {
      font-size: 22px;
    }
  }
}
