#bg_resumo_cursos {
  padding: 100px 0px 100px 0px;
  display: flex;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  h1 {
    padding: 30px;
    position: absolute;
    width: 100%;
    text-align: center;
    background: #eee;

    color: $primary-color;
    border-radius: 5px 5px 0px 0px;
    font-size: 24px;
    left: 0px;
  }
  .bloco_resumo {
    display: flex;
    position: relative;
    border: 2px solid #f0f0f0;
    background: #ffffff77;
    border-top: 0px;
    margin-top: 95px;
    width: 33.33333333%;
    height: 250px;
    p {
      color: #555;
    }

    h2 {
      text-align: center;
      padding: 20px 0px 10px 0px;
    }
    a {
      cursor: pointer;
      position: absolute;
      display: block;
      left: 35%;
      bottom: 10px;
      width: 30%;
      text-decoration: underline;
      text-align: center;
      padding: 5px;
      border-radius: 5px;
      color: #333;

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    &:hover {
      .content-resumo {
        opacity: 1;
      }
    }
    .content-resumo {
      padding: 20px;

      background: #fffffff6;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
  }

  #resumo_informatica {
    background: #d8e4f8 url("../img/informatica/modulo_introducao.png")
      no-repeat;
    background-position: center;
    background-size: auto 80%;

    h2 {
      color: $primary-color;
    }
    a:hover {
      background: $primary-color;
    }
  }
  #resumo_english {
    background: #fc124d url("../img/english/english3.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center;

    h2 {
      color: $secondary-color;
    }
    a:hover {
      background: $secondary-color;
    }
  }
  #resumo_excel {
    background: rgb(6, 119, 72) url("../img/excel/excel-logo-white.png")
      no-repeat;
    background-size: auto 60%;
    background-position: center;
    h2 {
      color: $tertiary-color;
    }
    a:hover {
      background: $tertiary-color;
    }
  }
}
@media (max-width: 860px) {
  #bg_resumo_cursos {
    padding-top: 75px;
    padding-bottom: 0px;
    h1 {
      top: 0px;
      padding: 20px;
      background: $primary-color;
      color: #fff;
      border-radius: 0px;
    }
    flex-wrap: wrap !important;

    .bloco_resumo {
      width: 50%;
      margin-top: 0px;
      &:last-child {
        width: 100%;
      }
    }
  }
}
@media (max-width: 660px) {
  #bg_resumo_cursos {
    display: none !important;
    flex-direction: column;
    .bloco_resumo {
      padding-left: 50px;
      padding-right: 50px;
      width: auto;
      margin-top: 0px;
    }
  }
}
@media (max-width: 460px) {
  #bg_resumo_cursos {
    .bloco_resumo {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
