#bg_see_more {
  margin-top: 0%;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 80px;
  height: 620px;

  #content_see_more {
    display: flex;
    width: $content-width;

    margin: 0 auto;
  }

  h1 {
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 50px;
    background: #fff;
    background: $primary-color;
    color: #fff;
    margin: 0px;
    z-index: 1;
    border-bottom: 2px solid #ccc;
    width: $content-width;
    margin: 0 auto;
  }
  .content_block {
    background: #fff;
    float: right;
    overflow: hidden;
    height: auto;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    padding: 20px;
    h4 {
      text-align: center;
    }
  }
}
