//-----------------------------------CARNÊS----------------------------------------------
#load_img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);

  display: none;
  z-index: 10;
  position: fixed;

  border-radius: 0px;
  margin: -20px;
  img {
    width: 80px;
    margin-top: 18%;
    opacity: 1;
    margin-left: 37%;
  }
}

.bg_folhas_carne_add {
  display: none;
}
.bg_btn_download_pdf,
.bg_btn_edit_download_pdf {
  display: none;
  width: auto;
  margin-top: -65px;
  button {
    background: rgb(26, 202, 120);

    color: #fff;

    padding: 20px 40px;
    float: right;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0em 0.1em 0.1em #333;
    cursor: pointer;
  }
  button:hover {
    background: rgb(6, 214, 145);

    color: #fff;
  }
  button:active {
    background: rgb(6, 110, 76);

    color: #fff;
  }
}
.bg_btn_edit_download_pdf {
  overflow: hidden;
  padding: 5px;
  display: block;
  margin-top: -30px;
  clear: both !important;
  float: none !important;
  width: 100% !important;
  button {
    display: block;
    float: right;
    margin: 0 auto;
  }
}
.form_carne {
  background: #fff;
  width: 100%;
  max-width: 1170px;

  .cadastro_sucesso {
    margin-left: -40px;
  }
  .bg_carne_divs {
    background: #eee;
    width: 100%;
    overflow: hidden;
    float: right;
  }

  .add_contrato {
    opacity: 1 !important;
    width: 50%;
    max-width: 600px;
    float: left;

    label {
      width: 18%;
      background: $primary-color;
      color: #fff;
    }
    input,
    select {
      width: 82%;
      padding: 5px;
      option:first-child {
        display: none;
      }
    }
    .vinculado_carne {
      background: #f0f0f0;
      color: #999 !important;
    }
  }
  .edit_contrato {
    opacity: 0.7 !important;
    label {
      background: #eaeaea;
      color: #333;
    }
  }
  .add_obs {
    opacity: 1 !important;
    float: right;

    width: 50%;
    max-width: 600px;
    label {
      width: 18%;
      background: $primary-color;
      color: #fff;
    }
    input {
      width: 82%;
    }
  }

  .add_responsavel,
  .add_aluno {
    width: 33%;
    float: left;
    label {
      width: 18%;
    }
    input {
      width: 82%;
      padding: 5px;
      option:first-child {
        display: none;
      }
    }
  }

  .add_curso {
    width: 33%;
    float: left;
    label {
      width: 28%;
    }
    input {
      width: 72%;
      padding: 5px;
      float: left;
      option:first-child {
        display: none;
      }
    }
  }

  .add_parcelas {
    label {
    }
    input {
      float: left;
      width: 45%;
    }
  }

  .add_valor,
  .add_desconto,
  .add_valor_total,
  .add_data_contrato,
  .add_created,
  .add_vencimento,
  .add_parcelas,
  .add_RA {
    overflow: hidden;
    width: 14.2%;
    background: #eee;
    opacity: 1;
    float: left;
    padding: 10px;
    label {
      width: 100%;
      font-size: 14px;
      color: #444;
      display: block;
      float: none;
      padding: 0px;
    }
    input {
      width: 100% !important;
      float: left;
    }
  }

  .add_data_contrato {
    label {
    }
    input {
    }
  }
  .add_created {
    input {
    }
  }

  .div_add {
    margin-bottom: 5px;
    opacity: 0.7;
  }
}
//------------------------------------------Folhas Carnê-----------------------------------
.bg_folhas_carne {
  width: 100%;
  max-width: 1170px;
  padding: 40px;
  margin: 0 auto;
  min-height: 500px;
  background: #fff !important;
  overflow: hidden;
  border: 1px solid #ccc;

  .folhas {
    border: 1px solid #ccc;
    background: #fff;
    min-height: 100px;
    overflow: hidden;
    h3 {
      width: 100%;
      text-align: right;
      background: #555;
      color: #fff;
      padding: 5px 20px;
      margin-top: 0px;
      font-size: 16px;
    }
    margin-bottom: 20px;
  }

  .insert_folhas:nth-child(odd) .folhas {
    background: #eee;
  }

  .insert_folhas:nth-child(even) .folhas {
    background: #f9f9f9;
  }
  .row_1,
  .row_2 {
    width: 100%;
    clear: both;
    .folha_div {
      border: 1px solid #ccc;
      padding: 15px 10px;
      float: left;
    }
    label {
      font-size: 15px;
      display: block;
      overflow: hidden;
      float: left;
      text-align: center;
      width: 20%;
    }
    input {
      width: 80%;
      padding: 5px;
    }
  }
  .row_1 {
    .folha_div {
      width: 33.333%;
      float: left;
    }
  }
  .row_2 {
    .folha_div {
      width: 14.285%;
      float: left;
    }
    label {
      width: 100%;
      clear: both !important;
      float: none;
      padding: 0px 0px 10px 0px;
    }
    input {
      width: 100%;
    }
  }
  button {
    width: 200px;
    padding: 20px 40px;
    float: right;
    background: $primary-color;
    color: #fff;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: 0px;
  }
  button:hover {
    background: lighten($primary-color, 5%);
  }
  .folha_campo_editavel {
    background: rgb(224, 236, 232) !important;
  }
  .folha_campo_bloquead * {
    opacity: 0.7;
    input {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}
