#nav_gerador_carne {
  width: 100%;
  background: $primary-color;
  overflow: hidden;
  padding: 10px 40px;
  padding-bottom: 0px;
  height: 50px;

  h1 {
    width: 52%;
    float: right;
    text-align: left;
    padding-bottom: 0px;
    color: #fff;
    font-size: 16px;
    padding: 0px !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
  }
  ul {
    width: 20%;
    float: left;
    display: block;

    li {
      list-style: none;
      a {
        padding: 20px;
        color: #fff !important;
      }
    }
  }
}
#bg_gerador_boleto {
  background: #222;
  width: 100%;
  min-height: 100vh;
}
.container_gerador_boleto {
  width: 1170px;
  min-height: 100vh;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  outline: 20px solid #fff;
}
#load_img {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);

  display: none;

  position: fixed;

  border-radius: 0px;
  img {
    width: 80px;
    margin-top: 18%;
    opacity: 1;
    margin-left: 47%;
  }
}
.boletos {
  display: none;
  padding: 20px 60px;
  background: #fff;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 0px 0px;

  div {
    padding: 15px 15px;
    float: left;
    border: 1px solid #ccc;
    width: 14.28%;
    max-height: 90px;
    div {
      padding: 0px;
      width: 50%;
      height: auto;
      border: 0px;
      label {
        float: left;
        width: 30%;
        background: #ddd;
        padding: 5px 0px 0px 6px;
      }
      input {
        float: right;
        width: 70%;
      }
    }
  }

  label {
    height: 27px;
    padding: 5px 5px;
    display: block;
    width: 100%;
    // background: rgb(86, 83, 90);
    color: #333;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: -5px;
  }
  input {
    margin: 0px 0px;
    width: 100%;
    padding: 3px 0px 3px 5px;
    text-align: center;
  }
}
.boletos:nth-child(even) {
  background: #f0f0f0;
}

.div-responsavel,
.div-aluno,
.div-curso {
  width: 33.3333% !important;
  label {
    margin-top: 0px;
    width: 85px;
    float: left;
  }
  input {
    width: 231px !important;
    float: right !important;
    text-align: left;
  }
}

.tag_boletos {
  background: #666 !important;
  width: 100% !important;
  height: 35px !important;
  padding: 10px !important;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  border: 0px !important;
  h5 {
    text-align: right;

    color: #fff !important;
    margin: 0 !important;
  }
}

/*----------------Master----------*/
#boleto_master {
  border: 1px solid #ccc;
  display: block;
  margin-top: 0px;
  background: #f0f0f0;

  #bg_blocks_master {
    border: 1px solid #aaa;
    overflow: hidden;
  }

  div {
    border-color: #aaa;
    width: 13.85%;

    label {
      color: #fff;
      background: transparent;
      color: #333;
    }
  }
  .div-n-lanc {
    width: 20% !important;

    div {
      width: 50%;
      label {
        width: 20%;
        float: left;
      }
      input {
        width: 70%;
      }
    }
  }
  .div-n-parcela {
    width: 9.6% !important;
  }

  .div-vencimento {
    width: 15% !important;
  }
  select {
    width: 200px;
    padding: 4px 5px;
    option:first-child {
      display: none;
    }
  }
}

.bg_buttons {
  background: #222;
  display: none;
  overflow: hidden;
  padding: 10px 30px;
  position: absolute;
  width: 1170px;
  margin: 0px 0px 0px 0px;

  #btn_download_pdf {
    display: block;
    clear: both;
    background: rgb(34, 56, 146);
    border: 0px;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 60px;
    margin-bottom: 20px;
    float: right;
  }
}

#btn_download_pdf:hover {
  background: rgb(3, 74, 182);
}

#bg_btn_gerar_boleto {
  width: 100% !important;
  padding: 20px;
  overflow: hidden;
}

#btn_gerar_boleto {
  display: block;
  background: #999;
  border: 0px;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  float: right;
  width: 150px;
}
#btn_gerar_boleto:hover {
  background: rgb(31, 160, 110);
}
