#bg_login {
  background: #1e2849;
  height: 100vh;
  width: 100%;
  h1 {
    text-align: center;
    margin-top: 8%;
    color: #fff;
  }
  #form_login {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50%;
    max-width: 400px;
    height: 300px;
    padding: 60px 50px;
    background: #fff;
    display: block;
    margin: 0 auto;
    div {
      padding: 10px;
      label {
        width: 20%;
        display: block;
        float: left;
      }
      input {
        padding: 5px;
        width: 80%;
      }
    }
    #btn_login {
      background: #1f458b;
      color: #fff;
      border: 0px solid #ccc;
      padding: 8px 20px;
      position: relative;
      display: block;
      margin: 0 auto;
      margin-top: 30px;
      border-radius: 5px;
      cursor: pointer;
      width: 50%;
    }
    #btn_login:hover {
      background: #1a5bd3;
    }
    #btn_login:active {
      background: #033aa0;
    }
  }
  #bg_link_goback {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    a {
      float: right;
      color: #fff;
    }
  }
}
