#bg_main {
  position: relative;
  min-height: 100vh;
  height: auto;
  padding: 0px 0px 50px 0px;
  #wrap {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "nav nav nav nav"
      "b1 b2 b3 b4"
      "b5 b5 b6 b6";
    grid-auto-rows: auto auto 400px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 0px 80px;
  }
  .bg_charts_main {
    background: #fff;
    height: auto;
    padding: 20px;
    overflow: hidden;
  }
  #chart-1 {
    grid-area: b5;
  }
  #chart-2 {
    grid-area: b6;
  }

  #nav_utilitarios {
    background: #fff;
    grid-area: nav;

    overflow: hidden;
    height: auto;
    margin-top: 0px;
    .block {
      width: auto;
      height: auto;
      float: right;
    }
    #block_cursos {
      background: $primary-color;

      &:hover {
        background: lighten($primary-color, 5%);
      }
    }
    a {
      border-right: 5px solid #f0f0f0;

      text-decoration: none;
      color: #fff;
      padding: 20px 40px;
      display: block;
      font-size: 18px;
      font-weight: bold;
      &:hover {
        color: #ff0;
        .icon {
          fill: #fff;
          opacity: 1;
        }
      }
      .icon {
        fill: #fff;
        float: left;
        opacity: 0.2;
        width: 25px;
        height: 25px;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 0px !important;
      }
    }
  }
  h3 {
    margin: 0px;
    overflow: hidden;

    .icon {
      fill: #666;
      float: left;
      opacity: 1;
      width: 18px;
      height: 18px;
      margin-left: -30px;
      margin-right: 10px;
      margin-top: 5px !important;
    }

    a {
      text-decoration: none;
      display: block;
      width: 100%;
      padding: 20px 40px;
      background: #f8f8f8;
      color: #444;

      .result {
        color: $secondary-color;
      }
      &:hover {
        background: #f0f0f0;
      }
    }
  }

  .blocks {
    margin-top: 0px;
    border-radius: 0px;
    overflow: hidden;
    background: #fff;

    .last_results {
      a {
        text-decoration: none;
        border-radius: 3px;
        padding: 20px 40px;
        color: #ffb !important;
        display: block;
        overflow: hidden;
        color: rgb(155, 140, 140);
        &:hover {
          background: #f0f0f0;
          .nome {
            color: #333;
            text-decoration: underline;
          }
        }
      }
      max-width: 80%;
      .nome {
        color: #333;
        padding-top: 10px;
        clear: both;
        width: 100%;
        display: block;
      }
      .label {
        float: left;
        color: #999;
      }
      .created {
        color: #999;
        float: right;
      }
    }

    border: 1px solid #ccc;
    float: left;
    padding: 0px;
    .b_content {
      padding: 0px 0px !important;
    }
  }
}
#block_resp {
  grid-area: b1;
  h3 {
    a {
      //background: $resp-color;
      &:hover {
        // background: saturate($resp-color, 50%);
      }
    }
  }

  background: $resp-color;
}
#block_alunos {
  grid-area: b2;

  h3 {
    a {
      // background: $aluno-color;
      &:hover {
        //  background: saturate($aluno-color, 5%);
      }
    }
  }
  background: $aluno-color;
}
#block_contratos {
  grid-area: b3;

  h3 {
    a {
      // background: $contrato-color;
      &:hover {
        //background: saturate($contrato-color, 100%);
      }
    }
  }
  background: $contrato-color;
}
#block_carnes {
  grid-area: b4;

  h3 {
    // background: $carne-color;

    a {
      // background: $carne-color;
      &:hover {
        //background: saturate($carne-color, 50%);
      }
    }
  }
}

#block_outros {
  //background: #ddd;

  h3 {
    padding: 20px;
  }
}

#bg_main::after {
  content: "";
  background: url("https://cdn.pixabay.com/photo/2019/07/19/12/00/network-4348652_960_720.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
