$content-width: 1173px;
$link-color: 064a77;

$primary-color: #064a77;
$secondary-color: #eb1e44;

$resp-color: #212529e0;
$aluno-color: #d45d18e0;

$contrato-color: #04465ae0;
$carne-color: #05916ee0;

$curso-color: #9c2d36e0;
