.table_general {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  thead {
    background: $primary-color;

    th {
      color: #fff;
    }
  }
  tbody {
    tr {
      td {
        font-size: 14px;
        padding: 5px;
        border: 1px solid #ccc;
        input {
          width: 100%;
          border: 0px solid #fff;
          padding: 0px 10px;
        }
      }
    }
  }
}
